apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: greenfield

resources:
  - deployment.yaml
  - service.yaml
  - serviceaccount.yaml
  - configmap.yaml
  # Note: secret-template.yaml is not included here
  # Secrets should be managed via external-secrets or sealed-secrets
