apiVersion: v1
kind: Service
metadata:
  name: oauth2-proxy
  namespace: greenfield
  labels:
    app: oauth2-proxy
spec:
  type: ClusterIP
  selector:
    app: oauth2-proxy
  ports:
  - name: http
    port: 4180
    targetPort: http
    protocol: TCP
  - name: metrics
    port: 44180
    targetPort: metrics
    protocol: TCP
