apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: greenfield

resources:
  - ../../base
  # Include Keycloak since it's required for SAML brokering
  - ../../base/keycloak

patches:
  - path: configmap.yaml
  - path: deployment-patch.yaml

configMapGenerator:
  - name: provider-info
    literals:
      - provider=okta-saml
      - provider-type=saml-via-oidc
      - broker=keycloak
      - issuer-url=https://keycloak.example.com/auth/realms/master

generatorOptions:
  disableNameSuffixHash: true
