apiVersion: v1
kind: Service
metadata:
  name: alertmanager
  namespace: greenfield
  labels:
    app: alertmanager
spec:
  type: ClusterIP
  ports:
    - name: web
      port: 9093
      targetPort: web
      protocol: TCP
    - name: mesh-tcp
      port: 9094
      targetPort: mesh-tcp
      protocol: TCP
    - name: mesh-udp
      port: 9094
      targetPort: mesh-udp
      protocol: UDP
  selector:
    app: alertmanager
