apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: greenfield

resources:
  - ../../base

patches:
  - path: configmap.yaml
  - path: deployment-patch.yaml

configMapGenerator:
  - name: provider-info
    literals:
      - provider=azuread
      - provider-type=oidc
      - issuer-url=https://login.microsoftonline.com/YOUR_TENANT_ID/v2.0

generatorOptions:
  disableNameSuffixHash: true
