apiVersion: v1
kind: Service
metadata:
  name: fastapi-app
  namespace: greenfield
  labels:
    app: fastapi-app
  annotations:
    prometheus.io/scrape: "true"
    prometheus.io/port: "8000"
    prometheus.io/path: "/metrics"
spec:
  type: ClusterIP
  ports:
    - port: 8000
      targetPort: 8000
      name: http
  selector:
    app: fastapi-app
