apiVersion: apps/v1
kind: Deployment
metadata:
  name: jaeger
  namespace: greenfield
  labels:
    app: jaeger
    component: all-in-one
spec:
  replicas: 1
  selector:
    matchLabels:
      app: jaeger
      component: all-in-one
  template:
    metadata:
      labels:
        app: jaeger
        component: all-in-one
    spec:
      containers:
        - name: jaeger
          image: jaegertracing/all-in-one:1.52
          env:
            - name: COLLECTOR_ZIPKIN_HOST_PORT
              value: ":9411"
            - name: COLLECTOR_OTLP_ENABLED
              value: "true"
            - name: SPAN_STORAGE_TYPE
              value: "memory"
            - name: MEMORY_MAX_TRACES
              value: "10000"
          ports:
            - containerPort: 5775
              protocol: UDP
              name: zk-compact-trft
            - containerPort: 6831
              protocol: UDP
              name: jg-compact-trft
            - containerPort: 6832
              protocol: UDP
              name: jg-binary-trft
            - containerPort: 5778
              protocol: TCP
              name: config-rest
            - containerPort: 16686
              protocol: TCP
              name: query
            - containerPort: 14268
              protocol: TCP
              name: collector-http
            - containerPort: 14250
              protocol: TCP
              name: collector-grpc
            - containerPort: 9411
              protocol: TCP
              name: zipkin
          resources:
            requests:
              cpu: 100m
              memory: 256Mi
            limits:
              cpu: 500m
              memory: 1Gi
          livenessProbe:
            httpGet:
              path: /
              port: 14269
            initialDelaySeconds: 30
            periodSeconds: 10
          readinessProbe:
            httpGet:
              path: /
              port: 14269
            initialDelaySeconds: 10
            periodSeconds: 5
