apiVersion: v1
kind: Service
metadata:
  name: jaeger-query
  namespace: greenfield
  labels:
    app: jaeger
    component: query
spec:
  type: ClusterIP
  ports:
    - name: query-http
      port: 16686
      targetPort: 16686
      protocol: TCP
  selector:
    app: jaeger
    component: all-in-one
---
apiVersion: v1
kind: Service
metadata:
  name: jaeger-collector
  namespace: greenfield
  labels:
    app: jaeger
    component: collector
spec:
  type: ClusterIP
  ports:
    - name: jaeger-collector-http
      port: 14268
      targetPort: 14268
      protocol: TCP
    - name: jaeger-collector-grpc
      port: 14250
      targetPort: 14250
      protocol: TCP
    - name: jaeger-collector-zipkin
      port: 9411
      targetPort: 9411
      protocol: TCP
  selector:
    app: jaeger
    component: all-in-one
---
apiVersion: v1
kind: Service
metadata:
  name: jaeger-agent
  namespace: greenfield
  labels:
    app: jaeger
    component: agent
spec:
  type: ClusterIP
  ports:
    - name: agent-zipkin-thrift
      port: 5775
      targetPort: 5775
      protocol: UDP
    - name: agent-compact
      port: 6831
      targetPort: 6831
      protocol: UDP
    - name: agent-binary
      port: 6832
      targetPort: 6832
      protocol: UDP
    - name: agent-configs
      port: 5778
      targetPort: 5778
      protocol: TCP
  selector:
    app: jaeger
    component: all-in-one
