{{- if .Values.namespace }}
apiVersion: v1
kind: Namespace
metadata:
  name: {{ .Values.namespace }}
  labels:
    name: {{ .Values.namespace }}
    {{- if .Values.istio.enabled }}
    istio-injection: enabled
    {{- end }}
{{- end }}
