apiVersion: v1
kind: Service
metadata:
  name: redis-master
  namespace: greenfield
  labels:
    app: redis
    role: master
spec:
  ports:
    - port: 6379
      targetPort: 6379
      name: redis
  selector:
    app: redis
    role: master
---
apiVersion: v1
kind: Service
metadata:
  name: redis-replica
  namespace: greenfield
  labels:
    app: redis
    role: replica
spec:
  ports:
    - port: 6379
      targetPort: 6379
      name: redis
  selector:
    app: redis
    role: replica
