apiVersion: v1
kind: Service
metadata:
  name: kiali
  namespace: greenfield
  labels:
    app: kiali
spec:
  type: ClusterIP
  ports:
  - name: http
    protocol: TCP
    port: 20001
    targetPort: 20001
  - name: http-metrics
    protocol: TCP
    port: 9090
    targetPort: 9090
  selector:
    app: kiali
