apiVersion: v1
kind: Service
metadata:
  name: backend-service
  namespace: greenfield
  labels:
    app: backend-service
spec:
  type: ClusterIP
  ports:
    - port: 8001
      targetPort: http
      protocol: TCP
      name: http
  selector:
    app: backend-service
