apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: greenfield

resources:
  - ../../base

patches:
  - path: configmap.yaml
  - path: deployment-patch.yaml

configMapGenerator:
  - name: provider-info
    literals:
      - provider=github
      - provider-type=oauth2
      - issuer-url=https://github.com

generatorOptions:
  disableNameSuffixHash: true
